<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>netclass</display-name>
  
  <filter>
  	<filter-name>CharacterFilter</filter-name>
  	<filter-class>org.graduate.web.filter.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CharacterFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>org.graduate.web.controller.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>org.graduate.web.controller.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddClass</servlet-name>
    <servlet-class>org.graduate.web.controller.AddClass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteClassUI</servlet-name>
    <servlet-class>org.graduate.web.controller.DeleteClassUI</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteClass</servlet-name>
    <servlet-class>org.graduate.web.controller.DeleteClass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScoreMrgUI</servlet-name>
    <servlet-class>org.graduate.web.controller.ScoreMrgUI</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateScore</servlet-name>
    <servlet-class>org.graduate.web.controller.UpdateScore</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNotice</servlet-name>
    <servlet-class>org.graduate.web.controller.AddNotice</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListNotice</servlet-name>
    <servlet-class>org.graduate.web.controller.ListNotice</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteNotice</servlet-name>
    <servlet-class>org.graduate.web.controller.DeleteNotice</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/servlet/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddClass</servlet-name>
    <url-pattern>/servlet/AddClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteClassUI</servlet-name>
    <url-pattern>/servlet/DeleteClassUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteClass</servlet-name>
    <url-pattern>/servlet/DeleteClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScoreMrgUI</servlet-name>
    <url-pattern>/servlet/ScoreMrgUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateScore</servlet-name>
    <url-pattern>/servlet/UpdateScore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNotice</servlet-name>
    <url-pattern>/servlet/AddNotice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListNotice</servlet-name>
    <url-pattern>/servlet/ListNotice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteNotice</servlet-name>
    <url-pattern>/servlet/DeleteNotice</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    
    <welcome-file>login.jsp</welcome-file>
    
  </welcome-file-list>
</web-app>